/* 初始化 */
* {margin: 0; padding: 0;}


main {
    text-align: center;
}
kbd {
    width: 4em;
    height: 4em;
    border: 1px solid red;
    display: inline-block;
    text-align: center;
    font-size: 1em;
    text-transform: uppercase;
    position: relative;
}
kbd button {
    display: none;
    position: absolute;
    right: 0;
    bottom: 0;
}
kbd:hover button {
    display: inline-block;
}